@{
    Layout = null;
    var isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - MaisKitchen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Feane Template Links -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
</head>

<body>
    <!-- Header Section -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <span>MaisKitchen</span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class=""></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Restaurants", "Home")">Restaurants</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Menu", "Home")">Menu</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a></li>
                    </ul>

                    <div class="user_option">
                        @if (isAuthenticated)
                        {
                            <a href="@Url.Action("Index", "Cart")" class="cart_link">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="@Url.Action("Logout", "Account")">
                                <i class="fa fa-sign-out"></i> Logout
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Login", "Account")">
                                <i class="fa fa-user"></i> Login
                            </a>
                            <a href="@Url.Action("Register", "Account")">
                                <i class="fa fa-user-plus"></i> Register
                            </a>
                        }
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!-- Render MVC Views Here -->
    <main>
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-col">
                    <div class="footer_contact">
                        <h4>Contact</h4>
                        <div class="contact_link_box">
                            <a href=""><i class="fa fa-map-marker"></i> Location</a>
                            <a href=""><i class="fa fa-phone"></i> +01 1234567890</a>
                            <a href=""><i class="fa fa-envelope"></i> info@foodiedelight.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 footer-col">
                    <div class="footer_detail">
                        <p>Fresh, fast, and hot food delivered from your favorite restaurants.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Feane JS scripts -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
